<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sistema Celulares</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="64x64" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-dark-top-nav.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/Minimal-tabs.css}">
 	<link href = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel ="stylesheet"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
 	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
 	<style>
	  	.table-primary, .table-primary>th, .table-primary>td {
	   		 background-color: #25396d;
	   		 color:#ffff;
		}
		.table-primary th, .table-primary td, .table-primary thead th, .table-primary tbody+tbody {
		    border-color: #25396d;
		}
  </style>
  </head>
  <body>
     <span th:insert="fragments/topMenu :: menu-principal"></span> 
     <br>
	<div class="container">
		<div class="card">
			<div class="card-body" style="margin-top: 0px;">
			   <h4 class="card-header"><strong style="color: #000;">Cambiar Contrase&ntilde;a</strong></h4>              
				<br>

		<form  method="post" th:action="@{/usuarios/pwd}" id="formCreateUser">       
            	       
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="pwd">Nueva Contrase&ntilde;a</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Contrase&ntilde;a"  required="required">
                  </div>
                </div>
                 <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="codigo">Confirmaci&oacute;n de Contrase&ntilde;a</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Confirmaci&oacute;n" required="required">
                  </div>
                </div>
              </div>
                                                                   
              <input type="submit" class="btn btn-lg btn-primary" value="Guardar"> 
            </form>	
			</div>
			<a class="card-link" href="#"></a>
		</div>	
	</div>

	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	 	<span th:if="${msg != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro modificado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
		</span>
		<span th:if="${msgError != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Alerta!',
			  text: 'Las contraseñas no coinciden',
			  icon: 'warning',
			  confirmButtonText: 'Cool'
			})
		</script>
		</span>
	 <span th:insert="fragments/footer :: footer"></span>  
</body>
</html>