<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sistema Celulares</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="64x64" th:href="@{/img/icon.png}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/Minimal-tabs.css}">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
 	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
 	
 	<style type="text/css">
 	        .dual-list .list-group {
            margin-top: 8px;
        }

        .list-left li, .list-right li {
            cursor: pointer;
        }

        .list-arrows {
            padding-top: 100px;
        }

        .list-arrows button {
                margin-bottom: 20px;
        }
        .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
		    z-index: 2;
		    background-color: #17a2b8;
		    border-color: #17a2b8;
		    color:#fff;
		}
		.btn-standar {
		    color: #fff;
		    background-color: #17a2b8;
		    border-color: #17a2b8;
		}
		.list-group-item:hover{
			 background-color:#17a2b882;
			 border-color: #17a2b882;
		}
		.table {
		    background-color: #fff;
		    color: black;
		}
		tr:hover {
			 color: #fff;
		}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		    border-top: 1px solid #68c5ca;
		}
 	</style>
 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
 	<style>
	  	.table-primary, .table-primary>th, .table-primary>td {
	   		 background-color: #25396d;
	   		 color:#ffff;
		}
		.table-primary th, .table-primary td, .table-primary thead th, .table-primary tbody+tbody {
		    border-color: #25396d;
		}
		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		  background-color: #085865;
		}
		
		.personalized > input{
		    border: 0px;
		    -webkit-box-shadow: none;
		    -moz-box-shadow: none;
		    box-shadow: none;
			background: transparent;
			border: none;
    		border-bottom: solid 1px #fff;
    		border-radius: 0px;
    		color: #fff;
		}
  </style>
  <link rel="stylesheet" type="text/css" th:href="@{/css/swal.css}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
  </head>
  <body>
     <br>
	<div class="container">
		<div class="panel panel-default">
		<div class="panel-heading all" style="border-bottom: 0px;">

		 <form class="form-inline" action="#" id="formTop" th:object="${facturaTemp}">
			  <div class="form-group">
			    <label style="color: #fff;font-size: 25px;">Facturaci&oacute;n | &nbsp;&nbsp;</label>
			  </div>
			  <input type="hidden" id="responseUpdateCondicion">
			  <div class="form-group" id="seleccionCondicionPago">
					<select class="form-control" th:field="*{condicionPago.id}" id="selectCondicionPago">
						<option th:each="condicionPago:${condicionesPago}"
						th:value="${condicionPago.id}" th:text="${condicionPago.nombre}"/>
				</select>
			  </div>
			  <div class="form-group">
					 <select class="form-control" th:field="*{comprobanteFiscal.id}" id="selectComprobanteFiscal">
						<option th:each="comprobante:${comprobantesFiscales}"
								th:value="${comprobante.id}" th:text="${comprobante.nombre}"/>
					</select>
			  </div>
			  <input type="hidden" id="responseUpdateVendedor">
			  <div class="form-group" id="seleccionVendedor">
					 <select class="form-control" id="selectVendedor">
							<option value="" selected="selected">Vendedor</option>
							<option th:each="vendedor:${vendedores}"
							th:value="${vendedor.id}" th:text="${vendedor.nombre}"/>
					</select>
			  </div>
			  <button class="btn btn-primary pull-right" id="btnServiceModal">Servicio</button>
			  <button class="btn btn-success pull-right" id="btnClienteModal">Clientes</button>
			  <button class="btn btn-info pull-right" id="btnTallerModal">Taller</button>
			  <button class="btn btn-danger" onclick="javascript:location.href='/facturas/cancelarFactura'">Cancelar</button>
			  <button class="btn btn-warning" onclick="javascript:location.href='/facturas/'">Regresar</button>
		</form>
		 
		</div>
		  <div class="panel-body all">
		     <form  method="post" action="#" id="formCreateInvoice">            
              <div class="row">
                <div class="col-md-8"> 
                  <div class="form-group">
                  	<div id="responseAddSerial">
                  		  <input type="hidden" id="AddSerialStatus" th:value="${response}">
              		</div>
              		<div id="responseDeleteArticulo">
                  		  <input type="hidden" id="DeleteArticuloStatus" th:value="${response}">
              		</div>
              		<input type="hidden" id="responseGeneratedInvoice" th:value="${response}">
                 	<input type="hidden" id="responseDeleteSerial">
                  	<input type="hidden" id="responseDeleteService">
                    <input type="hidden" id="responseAddArticuloConSerial">
                    <input type="hidden" id="responseAddArticuloSinSerial">
                    <label for="nombre">Lista de Productos</label>
                    <input type="hidden" class="form-control" name="artuculo" id="articulo" placeholder="Buscar por Imei, Art&iacute;culo y C&oacute;digo">
					<select class="form-control" id="articulos">
						<option value="">Busqueda por art&iacute;culo, c&oacute;digo y serial</option>
                   		 <option
                   		 th:each="art : ${listaArticulos}" 
                   		 th:value="${art.id}" 
                   		 th:text="${art.nombre}" />
                    </select>

                  </div>
                </div>
                <div class="col-md-2" id="divButtonSaveFact"> 
                	<br>
               		 <button id="guardarFactura" class="btn btn-success pull-right" style="margin-top: 5px;"> Guardar </button>
                </div>
              </div>                                                  
            </form>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="table-responsive">
						<div id="cuerpoFactura">
							
						</div>
					</div>
				</div>

			</div> <!--  Fin del panel body -->
		</div>

<!-- Modal Add Seriales-->
<div id="serialesModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content all">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Seriales Disponibles</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div id="cantidadYprecio">
					<!--  <label>Cantidad:</label>  -->
					<input id="cantidadConSerial" class="form-control" type="hidden" min="0">
				<div class="col col-md-6">
					<input type="hidden" id="cantidadConSerial" th:value="${cantidadConSerial}">
					<label>Nombre del art&iacute;culo:</label> <input id="nombreArticuloSerial" class="form-control" type="text" disabled="disabled">
				</div>	
				<div class="col col-md-3">
					<input type="hidden" id="cantidadConSerial" th:value="${cantidadConSerial}">
					<label>Precio:</label> <input id="precioConSerial" th:value="${precioConSerial}" class="form-control" type="number" min="0">
				</div>
				<div class="col col-md-3">
					<label>Total:</label> <input id="totalPrecioConSerial" class="form-control" type="number" min="0" disabled="disabled">
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
        <div class="dual-list list-left col-md-5">
            <div class="well text-right">
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                            <input type="text" name="SearchDualList" class="form-control" placeholder="buscar" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            <a class="btn btn-primary selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group" id="addMultiSerial">
                    <li class="list-group-item text-left" style="color: black;" th:fragment="listaMultiSerial" 
	                    th:each="serial : ${listaMultiSerial}"
	                    th:text="${serial.serial}" ></li>
                </ul>
            </div>
        </div>

        <div class="list-arrows col-md-1 text-center">
        	<button class="btn btn-standar btn-sm move-right" onclick="javascript:addSerialList()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <button class="btn btn-standar btn-sm move-left" onclick="javascript:minusSerialList()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
        </div>

        <div class="dual-list list-right col-md-6">
            <div class="well">
                <div class="row">
                    <div class="col-md-2">
                        <div class="btn-group">
                            <a class="btn btn-primary selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" name="SearchDualList" class="form-control" placeholder="buscar" />
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </div>
                <ul class="list-group" id="serialesSeleccionados"> </ul>
            </div>
        </div>

	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-standar" id="guardarSerialesDelProducto">Guardar</button>
      </div>
    </div>

  </div>
</div>	

<!-- Modal articulo sin serial-->
<div id="articuloModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content all">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Art&iacute;culo seleccionado</h3>
      </div>
      <div class="modal-body">
			<div id="articuloBuscado">
				<form>
					<div class="row">
						<div class="col col-md-8">
							<input type="hidden" th:value="${idArticuloBuscado}" id="idArticuloBuscado">
							<input type="hidden" th:value="${conItbis}" id="conItbis">
							<div class="form-group">
								 <label>Nombre del art&iacute;culo</label>
								 <input th:value="${nombreArticuloBuscado}" id="nombreArticuloBuscado" class="form-control" type="text" disabled="disabled">
							</div>
						</div>
						<div class="col col-md-3">
							<div class="form-group">
								<label>Disponible</label>
	                       		<input th:value="${existencia}" id="disponibleModal" class="form-control" type="number" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-3">
							<div class="form-group">
								<!--  <label>Precio M&aacute;ximo</label> --> 
	                      		 <input th:value="${precioMaximo}" id="precioMaximo" class="form-control" type="hidden" disabled="disabled">
							</div>
						</div>
						<div class="col col-md-3">
							<div class="form-group">
							    <!-- <label>Precio M&iacute;nimo:</label> --> 
	                      		<input th:value="${precioMinimo}" id="precioMinimo" class="form-control" type="hidden" disabled="disabled">
							</div>
						</div>
						<div class="col col-md-3">
							<div class="form-group">
								 <!--  <label>Precio x Mayor:</label> --> 
	                      		 <input th:value="${precioMayor}" id="precioMayor" class="form-control" type="hidden" disabled="disabled">
							</div>
							<!-- Rangos -->
							<input th:value="${minMax}" id="minMax" type="hidden">
							<input th:value="${maxMax}" id="maxMax" type="hidden">
							<input th:value="${minMin}" id="minMin" type="hidden">
							<input th:value="${maxMin}" id="maxMin" type="hidden">
							<input th:value="${minMay}" id="minMay" type="hidden">
							<input th:value="${maxMay}" id="maxMay" type="hidden">
							
							<!-- Tipo articulo -->
							<input type="hidden" id="tipoArticulo" th:value="${tipoArticulo}">
						</div>
					</div>
					<div class="row">
						<div class="col col-md-4">
							 <label>Cantidad:</label>
	                      	<input id="cantidadSinSerial" oninput="javascript:cambioCantidadSinSerial()" class="form-control" type="number" min="1">
						</div>
						<div class="col col-md-4">
							 <label>Precio:</label>
	                      	<input id="precioSinSerial" oninput="javascript:cambioPrecioSinSerial()" th:value="${precioArticulo}" class="form-control" type="number" min="0">
						</div>
						<div class="col col-md-4">
							 <label>Total:</label>
	                      	<input id="totalPrecioSinSerial" class="form-control" type="number" min="0" disabled="disabled">
						</div>
					</div>	
           		 </form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-standar" onclick="javascript:agregarArticuloSinSerial()">Agregar</button>
      </div>
    </div>

  </div>
</div>			
		
<!-- Modal de agregar servicios -->
<div id="servicioModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content all">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Agregar Servicio</h3>
      </div>
      <div class="modal-body">
			<div id="nuevoServicio">
				<form>
					<div class="row">
						<div class="col col-md-12">
							<div class="form-group">
								 <label>Descripci&oacute;n</label>
								 <input class="form-control" id="descripcionServicio" type="text" placeholder="Descripci&oacute;n del Servicio">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-4">
							<div class="form-group">
								<label>Cantidad</label>
	                       		<input id="cantidadServicio" min="1" class="form-control" type="number">
							</div>
						</div>
						<div class="col col-md-4">
							<div class="form-group">
								 <label>Costo</label>
	                      		 <input id="costoServicio" min="0" class="form-control" type="number">
							</div>
						</div>
						<div class="col col-md-4">
							<div class="form-group">
								<label>Precio de venta:</label>
	                      		<input id="precioServicio" min="0" class="form-control" type="number">
							</div>
						</div>
						<input type="hidden" id="responseAddService">
					</div>
           		 </form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-standar" id="btnAddService">Agregar</button>
      </div>
    </div>
  </div>
</div>		

<!-- Modal de agregar cliente -->
<div id="clienteModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content all">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Cliente</h3>
      </div>
      <div class="modal-body">
			<form>
				<div class="row">
					<div class="col col-md-10">
						<div class="form-group">
						<div id="clienteAcct">
							<input type="hidden" id="actualCliente" th:value="${actualCliente}">
							<input type="hidden" id="actualRnc" th:value="${actualRnc}">
						</div>
						<div id="vendedorAcct">
							<input type="hidden" id="actualVendedor" th:value="${actualVendedor}">
						</div>
							<div id="seleccionCliente">
								 <label>Cliente</label>
								 <select class="form-control" id="selectCliente" onchange="seleccionarCliente()">
								 	<option value=""></option>
								 	<option th:each="cliente:${clientes}"
								 		th:value="${cliente.id}" th:text="${cliente.nombre}"/>
								 </select>
							</div>
							</div>
						</div>
					<div class="col col-md-2">
<!-- 					        <button type="button" class="btn btn-standar" style="margin-top: 25px;" id="btnAddCliente"> + </button> -->
					</div>
				</div>
				<div id="nuevoCliente">
					<input type="hidden" th:value="${idCliente}" id="idCliente">
					<input type="hidden" th:value="${precioCliente}" id="precioCliente">
					<input type="hidden" th:value="${nombreCliente}" id="nombreCliente">
					<input type="hidden" th:value="${telefonoCliente}" id="telefonoCliente">
					
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								<label>RNC</label>
	                       		<input th:value="${rncCliente}" id="rncCliente" class="form-control" type="text" disabled="disabled">
							</div>
						</div>
					</div>
				</div>	
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>	

<!-- Modal de agregar seriales -->
		<div id="serialesAcctModal" class="modal fade" role="dialog" data-backdrop="static">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content all">
					<div class="modal-header bg-primary">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title">Seriales</h3>
					</div>
					<div class="modal-body">
						<div id="serialesAcct">
							<div th:fragment="infoSeriales">
								<div class="row">
									<div class="col col-md-12">
										<div class="form-group">
											<input type="hidden" id="detalleArticuloId" th:value="${idDetalleArticulo}">
											<label>Nombre del art&iacute;culo</label> <input
												th:value="${detalleArticulo}" class="form-control"
												id="detalleArticulo" type="text"
												placeholder="Nombre del art&iacute;culo" disabled="disabled">
										</div>
									</div>
								</div>
								<div class="row" id="rowAddSerial"></div>
								<div class="row">
									<div class="col col-md-12">
										<div class="table-responsive">
											<table class="table table-hover">
												<thead>
													<tr style="background-color: #17a2b8; color: #fff">
														<th class="text-center">Serial</th>
														<th></th>
													</tr>
												</thead>
												<tbody class="items">
													<tr th:each="serial: ${listaSeriales}">
														<td th:text="${serial.id_serial}" class="text-center">Serial</td>
														<td class='text-right'><a href="#" th:onclick="'eliminarSerialFactura(\'' + ${serial.id} + '\');'"> <i class="icono fa fa-trash text-danger"></i> </a></td>			
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-warning"
								data-dismiss="modal">Regresar</button>
							<button type="button" class="btn btn-standar" id="btnAddSerial">Agregar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	
<!--  Modal de seriales con costos distintos -->		
<div id="ditinctSerialPriceModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content all">
    <div class="modal-header bg-primary">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="modal-title">Seriales</h3>
	</div>
      <div class="modal-body">
      		<div id="responsePreciosSerialesNotMinimo">
      			<input type="hidden" th:value="${estatusUpdateSerialNotMinimo}" id="estatusUpdateSerialNotMinimo">
      		</div>
      	 	<div id="estatusModificarSeriales">
      	 		<input type="hidden" th:value="${estatusUpdateSerial}" id="estatusUpdateSerial">
      	 		<input type="hidden" th:value="${sumaSeriales}" id="sumaSeriales">
      	 		<input type="hidden" th:value="${autorizado}" id="autorizado">
      		</div>
			<div id="responsePreciosSeriales">
				<form>
					<div class="row">
							<div class="col col-md-6">
								 <div class="form-group">
									 <h4>Serial</h4>
								</div>
							</div>
							<div class="col col-md-6">
								 <div class="form-group">
									 <h4>Precio</h4>
								</div>
							</div>
					</div>
					<div class="row">
						<input type="hidden" th:value="${estatus}" id="estatusDistinctSerials">
						<div th:each="serial:${listaSerialesAcct}" id="listaSerialesAcct">
							 <div class="col col-md-6">
								 <div class="form-group">
								 	 <input class="form-control" th:value="${serial.id}" type="hidden" disabled="disabled">
									 <input class="form-control" th:value="${serial.serial}" type="text" disabled="disabled">
								</div>
							</div>
							<div class="col col-md-6">
								 <div class="form-group">
									 <input class="form-control" th:value="${serial.temporalPrice}" min="0" type="number">
								</div>
							</div>
						</div>
					</div>
           		 </form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-standar" id="guardarCostoSeriales">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de agregar taller -->
<div id="tallerModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content all">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Recepcion de Equipos</h3>
      </div>
      <div class="modal-body">
			<div id="nuevoTaller">
				<form th:object="${taller}" id="taller">
					<div class="row">
					<input type="hidden" id="responseAddRecepcion" th:value="${responseAddRecepcion}">
						<div class="col col-md-6">
							<div class="form-group">
								 <label>Celular</label>
								 <input th:field="*{celular}" class="form-control" id="celularTaller" type="text" placeholder="Celular" autocomplete="off">
							</div>
						</div>
						<div class="col col-md-6">
							<div class="form-group">
								<label>Nombre Cliente</label>
	                       		<input th:field="*{nombre}" class="form-control" id="nombreTaller" type="text" placeholder="Nombre Cliente" autocomplete="off">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								<label>Cedula / RNC</label>
	                       		<input th:field="*{cedula}" class="form-control" id="cedulaTaller" type="text" placeholder="Cedula" autocomplete="off">
							</div>
						</div>
						<div class="col col-md-6">
							<div class="form-group">
								<label>Telefono</label>
	                       		<input th:field="*{telefono}" class="form-control" id="telefonoTaller" type="text" placeholder="Telefono" autocomplete="off">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								<label>Serial</label>
	                       		<input th:field="*{serial}" class="form-control" id="serialTaller" type="text" placeholder="Serial" autocomplete="off">
							</div>
						</div>
						<div class="col col-md-6">
							<div class="form-group">
								<label>Marca</label>
	                       		<input th:field="*{marca}" class="form-control" id="marcaTaller" type="text" placeholder="Marca" autocomplete="off">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								<label>Modelo</label>
	                       		<input th:field="*{modelo}" class="form-control" id="modeloTaller" type="text" placeholder="Modelo" autocomplete="off">
							</div>
						</div>
						<div class="col col-md-6">
							<div class="form-group">
								<label>Tipo Equipo</label>
	                       		<Select th:field="*{tipoEquipo.id}" class="form-control" id="tipoEquipoTaller">
	                       			<option th:each="tipoEquipo:${tiposEquipo}" 
	                       					th:value="${tipoEquipo.id}" 
	                       					th:text="${tipoEquipo.nombre}"></option>
	                       		</Select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								<label>Tipo Reparacion</label>
	                       		<Select th:field="*{tipo_reparacion}" class="form-control" id="tipoReparacionTaller">
	                       			 <option value="1">Taller</option>
	                       			 <option value="2">Garantia</option>
	                       			 <option value="3">Desbloqueo</option>
	                       		</Select>
							</div>
						</div>
						<div class="col col-md-6">
							<div class="form-group">
								<label>Problema</label>
	                       		<textarea th:field="*{problema}" id="problemaTaller" class="form-control" rows="2" style="width:100%;overflow: scroll;resize: none;color: #000;" placeholder="Problema"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								<label>Avance</label>
	                       		<input th:field="*{avance}" class="form-control" min="0" id="avanceTaller" type="number" placeholder="Avance" autocomplete="off">
							</div>
						</div>
					</div>
           		 </form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-standar" id="btnAddTaller">Agregar</button>
      </div>
    </div>
  </div>
</div>	

<!-- Modal de pago -->
<div id="pagoModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content all">
      <div class="modal-body">
			<form>
				<div id="nuevoPago">
					<input type="hidden" id="responseAddPago" th:value="${responseAddPago}">
					<div class="row">
						<div class="col col-md-4">
							<div class="form-group personalized">
								<label>Cliente</label>
	                       		<input th:value="${facturaTemp.cliente.nombre}" id="facturaCliente" class="form-control" type="text" placeholder="Cliente">
							</div>
						</div>
						<div class="col col-md-4">
							<div class="form-group personalized">
								<label>Tel&eacute;fono</label>
	                       		<input th:value="${facturaTemp.cliente.telefono}" id="facturaTelefono" class="form-control" type="text" placeholder="Tel&eacute;fono">
							</div>
						</div>
						<div class="col col-md-4">
							<div class="form-group personalized">
								<label>RNC</label>
	                       		<input th:value="${facturaTemp.cliente.rnc}" id="facturaRnc" class="form-control" type="text" placeholder="RNC">
							</div>
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group personalized">
								<label>Monto Factura</label>
	                       		<input class="form-control" style="font-size: 20px;text-align: center; color: black;" type="text" id="montoFactura" disabled="disabled">
							</div>
						</div>
					</div>
					
					<h2><center>Forma de pago </center></h2>
					
					<div class="row">
						<div class="col col-md-4">
							<div class="form-group">
	                       		<div id="seleccionFormaPago">
									 <select class="form-control" id="selectFormaPago">
									 	<option th:each="formaPago:${formaPagos}"
									 		th:value="${formaPago.id}" th:text="${formaPago.nombre}"/>
									 </select>
								</div>
							</div>
						</div>
						<div class="col col-md-4">
							<div class="form-group">
	                       		<input class="form-control" type="number" min="0" placeholder="Monto" id="montoFormaPago">
							</div>
						</div>
						
						<div class="col col-md-4">
							<div class="form-group">
	                       		<button class="btn btn-success" id="btnAgregarPago"> Agregar </button>
							</div>
						</div>
					</div>
					
					<br>
					<div class="row">
						<div id="cuerpoPago">
							<!--  load data ajax -->
						</div>	
					</div>
				</div>	
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-standar" id="btnGuardarFactura">Guardar</button>
      </div>
    </div>
  </div>
</div>		
		
		
<!-- Modal NCF -->
<div id="ncfModal" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content all">
      <div class="modal-body">
      		<!-- Data persistence of comprobante fiscal -->
			<div id="comprobanteFiscalInfo">
				<input type="hidden" th:value="${idComprobanteFiscal}" id="idComprobanteFiscal"> 
				<input type="hidden" th:value="${pagaItbis}" id="pagaItbis">
				<input type="hidden" th:value="${incluyeItbis}" id="incluyeItbis">
				<input type="hidden" th:value="${valorItbis}" id=valorItbis>
			</div>
			<div id="ncf">
				<form>
					<div class="row">
						<div class="col col-md-6">
							<div class="form-group">
								 <label>ITBIS</label>
								 <input class="form-control" id="itbisNCF" type="text" disabled="disabled">
							</div>
						</div>
						<div class="col col-md-6">
							<div class="form-group">
								 <label>Total a pagar</label>
								 <input class="form-control" id="totalNCF" type="text" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-12">
							<div class="form-group">
								<label>NCF</label>
	                      		<input id="ncfVlue" class="form-control" type="text" disabled="disabled">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-md-4">
							<div class="form-group">
								<label>Cantidad</label>
	                      		<input id="cantidadDinero" class="form-control" type="number">
							</div>
						</div>
						<div class="col col-md-2">
							<div class="form-group">
	                      		<button id="addPago" class="btn btn-standar" style="margin-top: 25px;"> + </button>
							</div>
						</div>
					</div>
           		 </form>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-standar" id="">Agregar</button>
      </div>
    </div>
  </div>
</div>		

	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<span th:if="${msg != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro Creado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg2 != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro Modificado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>	
	</span>
	<script th:src="@{/js/facturacion.js}"></script>
	<script th:src="@{/js/dualList.js}"></script>
	<span th:insert="fragments/footer :: footer"></span>  
</body>
</html>