<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sistema Celulares</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="64x64" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-dark-top-nav.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/Minimal-tabs.css}">
 	<link href = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel ="stylesheet"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
 	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/swal.css}">
 	<style>
	  	.table-primary, .table-primary>th, .table-primary>td {
	   		 background-color: #25396d;
	   		 color:#ffff;
		}
		.table-primary th, .table-primary td, .table-primary thead th, .table-primary tbody+tbody {
		    border-color: #25396d;
		}
  </style>
  </head>
  <body>
     <span th:insert="fragments/topMenu :: menu-principal"></span> 
     <br>
	<div class="container">
		<div class="card all">
			<div class="card-body" style="margin-top: 0px;">
			  <h4 class="card-header"><strong style="color: #fff;">Entrada de Seriales</strong><a th:href="@{/articulos/}" style="float: right;" class="btn btn-md btn-primary">Regresar</a></h4>              
				<br>
		<div id="ajaxLoadedContent">
			
		</div>
		<form method="post" th:fragment="results" th:object="${articuloSerial}" id="articuloSerial" autocomplete="off">       
             <input type="hidden" th:field="*{id}">
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Articulo</label>
                    <input type="hidden" th:field="*{articulo.id}" th:value="${articulo.id}" id="idArticulo">
                    <input type="text" th:field="${articulo.nombre}" disabled="disabled" class="form-control" id="nombre" required="required" placeholder="Nombre">
                  </div>
                </div>
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="suplidor">Suplidor</label>
                    <select class="form-control"  th:field="*{suplidor.id}" id="suplidor">
					  	<option th:each="suplidor : ${suplidores}"
								th:value="${suplidor.id}" 
								th:text="${suplidor.nombre}">
						</option>
                    </select>
                  </div>
                </div>
              </div>
               
              <hr style="border-top: 1px solid #D8D8D8;">
              
              <div class="row">
                 <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="valorImei">IMEI | Serial</label>
                    <input type="number" class="form-control" th:field="*{serial}" id="valorImei" placeholder="IMEI" required="required">
                  </div>  
                </div>
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="factura">Factura</label>
                    <input type="text" class="form-control" th:field="*{no_factura}" id="factura" placeholder="Factura" required="required">
                  </div>
                </div>
                 <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="fecha">Costo</label>
                    <input type="text" class="form-control" th:field="${articulo.costo}" id="costo" placeholder="Costo" required="required">
                  </div>  
                </div>
              </div>
              
              <div class="row">
                 <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="precioMaximo">Precio M&aacute;ximo</label>
                    <input type="number" min="0" class="form-control" th:field="*{precio_maximo}" id="precioMaximo" placeholder="Precio Maximo" required="required">
                  </div>  
                </div>
                <div class="col-md-4"> 
                   <div class="form-group">
                    <label for="precioMinimo">Precio M&iacute;nimo</label>
                    <input type="number" min="0" class="form-control" th:field="*{precio_minimo}" id="precioMinimo" placeholder="Precio Minimo" required="required">
                  </div>  
                </div>
                 <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="precioMayor">Precio x Mayor</label>
                    <input type="number" min="0" class="form-control" th:field="*{precio_mayor}" id="precioMayor" placeholder="Precio Mayor" required="required">
                  </div>  
                </div>
              </div>
              
              <div class="row">
              	<div class="col-md-5">
                  <div class="form-group">
	                  <div id="infoListaSeriales">
	                  	<input type="hidden" id="existe" th:value="${existe}">
	              		  <label for="ultimosImei">Ultimos IMEI</label> 
							<select class="form-control"  id="ultimosImei" style="font-size: 18px;" onchange="javascript:eliminarSerialTemp()" multiple>
		                   	<option th:each="cat : ${listaUltimosSeriales}" 
		                   		 th:value="${cat.id}" 
		                   		 th:text="${cat.serial}" />
               			    </select>
	                  </div>
                  </div>
                </div>
                <div class="col-md-1">
                	<input type="button" id="addSerial" style="margin-top: 30px;" class="btn btn-md btn-success" value="Agregar"> 
                </div>
              </div> 
              <hr>
              <input type="button" class="btn btn-lg btn-danger" id="btnCancelar" value="Cancelar">
              <input type="button" class="btn btn-lg btn-primary" id="btnGuardar" value="Guardar"> 
            </form>	
            </div>
			<a class="card-link" href="#"></a>
		</div>	
	</div>
	
	<span id="test" th:fragments="test"></span>
	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<span th:if="${msg != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro guardado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg2 != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro Modificado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<script type="text/javascript">
		var idArticulo = $("#idArticulo").val();
		$('#infoListaSeriales').load("/articulosSeriales/ajax/getLastTemp/"+idArticulo);
			
		$("#btnGuardar").click(function(e) {
			e.preventDefault();
			var count = document.getElementById("ultimosImei").length;
			if(count > 0){
				$.post("/articulosSeriales/guardarSeriales/"+idArticulo,function(r){
					Swal.fire({
						  title: 'Muy bien!',
						  text: 'Registro guardado',
						  icon: 'success',
						  confirmButtonText: 'Cool'
						})
						setTimeout(function() {
							location.href = '/articulos/';
						}, 1000);
				});
			}else{
				 Swal.fire({
					 title: 'Alerta!',
					 text: 'Debe agregar al menos 1 serial',
					 icon: 'warning',
					 confirmButtonText: 'Entendido'
				})
			}
		});
		
		$("#btnCancelar").click(function(e) {
		 	e.preventDefault();
		     Swal.fire({
		    	  title: 'Esta seguro?',
		    	  text: "Desea eliminar los seriales?",
		    	  icon: 'warning',
		    	  showCancelButton: true,
		    	  confirmButtonColor: '#3085d6',
		    	  cancelButtonColor: '#d33',
		    	  confirmButtonText: 'Si, Puede borrarlo!'
		    	}).then((result) => {
		    	  if (result.value) {
		 		    $('#infoListaSeriales').load("/articulosSeriales/ajax/allSerialTempDelete/"+idArticulo);
		 		   limpiar();
		    	    Swal.fire(
		    	      'Borrado!',
		    	      'Seriales borrados.',
		    	      'success'
		    	    )
		    	  }
		    	})
		});
		
		$("#addSerial").click(function(e) {
			 e.preventDefault();
				var costo = $("#costo").val();
				var serial = $("#valorImei").val();
				
		     if(serial!="" && parseFloat(serial)>0){
					var precio_mayor = $("#precioMayor").val();
	   				precio_mayor = parseFloat(precio_mayor);
	   				var precio_maximo = $("#precioMaximo").val();
	   				precio_maximo = parseFloat(precio_maximo);
	   				var precio_minimo = $("#precioMinimo").val();
	   				precio_minimo = parseFloat(precio_minimo);
				 //verificamos que los precios sean mayor al costo
				 if(costo>precio_mayor || costo>precio_maximo || costo>precio_minimo){
					 Swal.fire({
						 title: 'Alerta!',
						 text: 'El costo no puede ser mayor a ningun precio de venta',
						 icon: 'warning',
						 confirmButtonText: 'Entendido'
					})
				 }else{
					 var $form = $("#articuloSerial");
					 $('#infoListaSeriales').load("/articulosSeriales/ajax/serialTemp", $form.serialize(),function(data){
						 if($("#existe").val() == 1){
							 Swal.fire({
								 title: 'Alerta!',
								 text: 'El serial ya existe',
								 icon: 'warning',
								 confirmButtonText: 'Entendido'
							})
						 }
						 limpiar();
					 });
				 }
			  }else{
				  Swal.fire({
						 title: 'Alerta!',
						 text: 'Ingrese un serial',
						 icon: 'warning',
						 confirmButtonText: 'Entendido'
					})
			  }
		});

		function eliminarSerialTemp(){
			 var seleccion = $('#ultimosImei').val();
		     Swal.fire({
		    	  title: 'Esta seguro?',
		    	  text: "Desea eliminar el serial?",
		    	  icon: 'warning',
		    	  showCancelButton: true,
		    	  confirmButtonColor: '#3085d6',
		    	  cancelButtonColor: '#d33',
		    	  confirmButtonText: 'Si, Puede borrarlo!'
		    	}).then((result) => {
		    	  if (result.value) {
		 		    $('#infoListaSeriales').load("/articulosSeriales/ajax/serialTempDelete/"+seleccion);
		 		   limpiar();
		    	    Swal.fire(
		    	      'Borrado!',
		    	      'El Serial se ha borrado.',
		    	      'success'
		    	    )
		    	  }
		    	})
		}
	</script>
	<script type="text/javascript">
		function limpiar(){
			$("#valorImei").val("");
		}
	</script>
	 <span th:insert="fragments/footer :: footer"></span>  
</body>
</html>