<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sistema Celulares</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="64x64" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-dark-top-nav.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/Minimal-tabs.css}">
 	<link href = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel ="stylesheet"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
 	<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
 	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
 	<style>
	  	.table-primary, .table-primary>th, .table-primary>td {
	   		 background-color: #25396d;
	   		 color:#ffff;
		}
		.table-primary th, .table-primary td, .table-primary thead th, .table-primary tbody+tbody {
		    border-color: #25396d;
		}

  </style>
  <link rel="stylesheet" type="text/css" th:href="@{/css/swal.css}">
  </head>
  <body>
     <span th:insert="fragments/topMenu :: menu-principal"></span> 
     <br>
	<div class="container">
		<div class="card all">
			<div class="card-body" style="margin-top: 0px;">
			   <h4 class="card-header"><strong style="color: #fff;">Reporte Articulos</strong><a th:href="@{/}" style="float: right;" class="btn btn-md btn-primary">Regresar</a></h4>              
				<br>

		<form method="post" th:action="@{/articulos/generarReporte}" target="_blank">        
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="nombre">Articulos</label>
                    <select class="form-control" name="idArticulo">
                    	<option value="0">Todos</option>
                    	<option th:each="articulo : ${articulos}"
                    			th:value="${articulo.id}" th:text="${articulo.nombre}"></option>
                    </select>
                  </div>
                </div>
                 <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="direccion">Categorias</label>
                    <select class="form-control" name="idCategoria">
                    	<option value="0">Todas</option>
                    	<option th:each="categoria : ${categorias}"
                    			th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">ITBIS</label>
                    <select class="form-control" name="conItbis">
                    	<option value="0">Todos</option>
                    	<option value="1">Si</option>
                    	<option value="2">No</option>
                    </select>
                  </div>
                </div>
                 <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="telefono">Venta Serial</label>
                   <select class="form-control" name="tipoArticulo">
                   		<option value="0">Todos</option>
                   		<option value="1">SI</option>
                   		<option value="2">NO</option>
                   </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Gama</label>
                    <select class="form-control" name="gama">
                    	<option value="0">Todos</option>
                    	<option value="1">Alta</option>
                    	<option value="2">Media</option>
                    	<option value="3">Baja</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Precio</label>
                    <select class="form-control" name="tipoPrecio">
                    	<option value="1">Maximo</option>
                    	<option value="2">Minimo</option>
                    	<option value="3">Por Mayor</option>
                    </select>
                  </div>
                </div>
              </div>
             <!-- 
             <div class="row">
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="nombre">Ver costo</label>
                    <select class="form-control" name="verCosto">
                    	<option value="1">SI</option>
                    	<option value="0">NO</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="nombre">Ver precio</label>
                    <select class="form-control" name="verPrecio">
                    	<option value="1">SI</option>
                    	<option value="0">NO</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="nombre">Ver existencia</label>
                    <select class="form-control" name="verExistencia">
                    	<option value="1">SI</option>
                    	<option value="0">NO</option>
                    </select>
                  </div>
                </div>
              </div>
               --> 
              <div class="row">
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="nombre">Ver eliminados</label>
                    <select class="form-control" name="verEliminados">
                    	<option value="1">SI</option>
                    	<option value="0">NO</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="nombre">Ordenar</label>
                    <select class="form-control" name="ordenar">
                    	<option value="1">Nombre</option>
                    	<option value="2">Codigo</option>
                    	<option value="3">Categoria</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="nombre">Forma</label>
                    <select class="form-control" name="tipoOrden">
                    	<option value="1">Ascendente</option>
                    	<option value="2">Descendente</option>
                    </select>
                  </div>
                </div>
              </div>
                                                                   
              <button class="btn btn-primary" 
              id="btnGenerarReporte" type="submit" 
              style="margin-top: 13px;margin-bottom: 16px;"><i class="fa fa-print"></i>&nbsp;
               Generar Reporte</button> 
            </form>	
			</div>
			<a class="card-link" href="#"></a>
		</div>	
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<span th:if="${msg != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro Creado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg2 != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro Modificado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg3 != null}" class="alert alert-warning" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Alerta!',
			  text: 'Almacen no encontrado, puede crear un almacen nuevo en el formulario',
			  icon: 'warning',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	 <span th:insert="fragments/footer :: footer"></span>  
</body>
</html>