<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sistema Celulares</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="64x64" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-dark-top-nav.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-dark-top-nav.css}">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/Minimal-tabs.css}">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
 	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
 	<link rel="stylesheet" type="text/css" th:href="@{/fontawesom/css/all.min.css}">
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<style>
.table-primary, .table-primary>th, .table-primary>td {
	background-color: #25396d;
	color: #ffff;
}

.table-primary th, .table-primary td, .table-primary thead th,
	.table-primary tbody+tbody {
	border-color: #25396d;
}

.btn-sm, .btn-group-sm>.btn {
	font-size: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
	  background-image: linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fffdfd !important;
    border-color: #2FA4E7;
}
</style>
  </head>
  <body>
     <span th:insert="fragments/topMenu :: menu-principal"></span> 
     <br>
	<div class="container text-white">
		<div class="card text-primary border rounded">
			<div class="card-body" style="margin-top: 0px;">
				<h1 class="card-title" id="nombre_negocio" style="font-size: 16px;">Consulta
					de art&iacute;culos 
					<a class="btn btn-primary" style="float: right;" th:href="@{/articulos/create}">Agregar</a>
				</h1>
				<br>
					<table class="table table-striped" id="tabla">
							<thead>
								<tr class="table-primary">
									<th>C&oacute;digo</th>
									<th>Nombre</th>
									<th>Precio Max</th>
									<th>Precio Min</th>
									<th>Inv.</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								 <tr th:each="articulo:${articulos}">
				                  <td th:text="${articulo.codigo}"></td>
				                  <td th:text="${articulo.nombre}"></td>  
				                  <td th:text="${articulo.precio_maximo}"></td>
				                  <td th:text="${articulo.precio_minimo}"></td>
				                  <td th:text="${articulo.cantidad}"></td>
				                  <td>
				                    <a th:href="@{/vacantes/edit/{id} (id=${articulo.id})}" class="btn btn-primary btn-sm" role="button" title="Editar el registro."><i class="fas fa-atlas" aria-hidden="true"></i></a>
				                    <a th:if="${articulo.imei == 'SI'}" th:href="@{/articulos/inventario/serial/{id} (id=${articulo.id})}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Entrada y Salida" role="button"><i class="fas fa-exchange-alt" aria-hidden="true"></i></a>
				                   	<a th:unless="${articulo.imei == 'SI'}" th:href="@{/articulos/inventario/sinSerial/{id} (id=${articulo.id})}" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Entrada y Salida" role="button"><i class="fas fa-exchange-alt" aria-hidden="true"></i></a>
				                    <a th:href="@{/articulos/edit/{id} (id=${articulo.id})}" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Modificar" role="button"><i class="fa fa-edit" aria-hidden="true"></i></a>
				                  	<a th:if="${articulo.cantidad == 0}" th:href="@{/articulos/delete/{id} (id=${articulo.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
				                  </td>
				                </tr>
							</tbody>
						</table>
			</div>
			<a class="card-link" href="#"></a>
		</div>
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#tabla').DataTable({
			"scrollY": "400px",
			    "language": {
			        "sProcessing":    "Procesando...",
			        "sLengthMenu":    "Mostrar _MENU_ registros",
			        "sZeroRecords":   "No se encontraron resultados",
			        "sEmptyTable":    "Ningún dato disponible en esta tabla",
			        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
			        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
			        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
			        "sInfoPostFix":   "",
			        "sSearch":        "Buscar:",
			        "sUrl":           "",
			        "sInfoThousands":  ",",
			        "sLoadingRecords": "Cargando...",
			        "oPaginate": {
			            "sFirst":    "Primero",
			            "sLast":    "Último",
			            "sNext":    "Siguiente",
			            "sPrevious": "Anterior"
			        },
			        "oAria": {
			            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
			        }
			    }
		});
	});
	</script>
	<span th:if="${msg != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro guardado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg3 != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Error!',
			  text: 'El registro no pudo ser creado',
			  icon: 'error',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg4 != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Alerta!',
			  text: 'El registro no pudo ser creado, no cuenta con el inventario suficiente para realizar la salida',
			  icon: 'warning',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg5 != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro eliminado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
		<span th:if="${msg6!= null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Alerta!',
			  text: 'El registro no se puede eliminar',
			  icon: 'warning',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>	
	 <span th:insert="fragments/footer :: footer"></span>  
</body>
</html>