<span th:fragment="footer">
	 <script type="text/javascript">
        	$("#salir_sistema").click(function(){
        		window.location = "/logout";
        	});
        	$("#salir_menu").click(function(){
        		window.location = "/logout";
        	});
        	$("#icono_articulo").click(function(){
        		window.location = "/articulos/";
        	});
        	$("#icono_cliente").click(function(){
        		window.location = "/clientes/";
        	});
        	$("#icono_cxc").click(function(){
        		window.location = "/facturas/cxc";
        	});
			$('[data-toggle="tooltip"]').tooltip();
			javascript:window.history.forward(1);
      </script>
</span>