<nav th:fragment="menu-principal"
	class="navbar navbar-light navbar-expand-sm bg-dark navbar-fixed-top navigation-clean-button"
	style="background-color: #565959; margin-top: 0px;margin-bottom: 39px;">
	<div class="container-fluid" style="font-family: 'Poppins', sans-serif;">
		<button data-toggle="collapse" class="navbar-toggler"
			data-target="#navcol-1"
			style="margin-top: 5px; margin-bottom: 5px; background-color: #c6ccba;">
			<span class="sr-only">Toggle navigation</span><span
				class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-uppercase shadow-sm"
			id="navcol-1">
			<ul class="nav navbar-nav text-capitalize nav-right"
				style="width: 100%;">
				<li class="nav-item dropdown pv7 pv5"><a
					class="dropdown-toggle nav-link pv6" data-toggle="dropdown"
					aria-expanded="false" style="color: rgba(255, 255, 255, 0.9);"
					href="#">Inventario</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item" role="presentation" th:href="@{/articulos/}">Articulos</a><a
							class="dropdown-item" role="presentation"
							href="articulo_transito.html">Articulo en transito</a><a
							class="dropdown-item" role="presentation"
							href="articulo_enviados.html">Articulo enviados</a>
						<div class="dropdown-divider" role="presentation"></div>
						<a class="dropdown-item pv3 pv8" role="presentation"
							th:href="@{/suplidores/}">suplidores</a><a
							class="dropdown-item pv3 pv8" role="presentation"
							th:href="@{/compras/}">Compras</a>
						<div class="dropdown-divider" role="presentation"></div>
						<a class="dropdown-item pv3 pv8" role="presentation"
							href="seriales.html">Seriales</a><a class="dropdown-item"
							role="presentation" href="seriales_transito.html">Seriales
							Transito</a>
						<div class="dropdown-divider" role="presentation"></div>
						<a class="dropdown-item" role="presentation"
							href="inventario.html">Hacer Inventario</a>
					</div></li>
				<li class="nav-item dropdown pv3 pv5"><a
					class="dropdown-toggle nav-link pv7 pv4 pv6" data-toggle="dropdown"
					aria-expanded="false" style="color: rgba(255, 255, 255, 0.9);"
					href="#">&nbsp;Ventas</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item" role="presentation"
							th:href="@{/facturas/create}">Nueva Factura</a>
						<a class="dropdown-item" role="presentation"
							th:href="@{/facturas/}">Ver Facturas</a><a class="dropdown-item"
							role="presentation" th:href="@{/clientes/}">Clientes</a>
						<div class="dropdown-divider" role="presentation"></div>
						<a class="dropdown-item" role="presentation"
							th:href="@{/devolucionesFacturas/devolucionFactura}">Hacer Devoluciones</a><a
							class="dropdown-item" role="presentation"
							href="devolucion_ver.html">Ver Devoluciones</a>
						<div class="dropdown-divider" role="presentation"></div>
						<a class="dropdown-item" role="presentation"
							href="vendedores.html">Vendedores</a><a class="dropdown-item pv8"
							role="presentation" href="comision_ver.html">Comision Ventas</a><a
							class="dropdown-item" role="presentation"
							href="factura_cambios.html">Ver Cambio Equipos</a> <a
							class="dropdown-item" role="presentation"
							href="cotizaciones.html">Ver Cotizaciones</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="dropdown-toggle nav-link pv7 pv4 pv5 pv6"
					data-toggle="dropdown" aria-expanded="false"
					style="color: rgba(255, 255, 255, 0.9);" href="#">&nbsp;Caja</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item" role="presentation" href="cuadre.html">Cuadre</a><a
							class="dropdown-item" role="presentation" th:href="@{/ingresos/}">Ingresos</a><a
							class="dropdown-item" role="presentation" th:href="@{/gastos/}">Gastos</a>
					</div></li>
				<li class="nav-item dropdown pv3"><a
					class="dropdown-toggle nav-link pv7" data-toggle="dropdown"
					aria-expanded="false" style="color: rgba(255, 255, 255, 0.9);"
					href="#">&nbsp;Taller</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item pv4" role="presentation"
							th:href="@{/talleres/}">Equipos</a><a class="dropdown-item pv5 pv6"
							role="presentation" th:href="@{/tallerArticulos/}">Articulos</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="dropdown-toggle nav-link pv7 pv3 pv4 pv5 pv6"
					data-toggle="dropdown" aria-expanded="false"
					style="color: rgba(255, 255, 255, 0.9);" href="#">&nbsp;CxC</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item" role="presentation" th:href="@{/facturas/cxc/}">Ver
							CxC</a><a class="dropdown-item" role="presentation"
							href="factura_vencidas.html">Facturas Vencidas</a><a
							class="dropdown-item" role="presentation" href="cxc_abonos.html">Ver
							Abonos</a>
					</div></li><a class="navbar-brand text-white" th:href="@{/}" style="padding-left: 28px;border-right: 1px solid rgba(255,255,255,0.25);
						padding-right: 27px;">Sistema</a>
				<li class="nav-item dropdown pv3"><a
					class="dropdown-toggle nav-link pv7 pv4 pv5 pv6 pv8"
					data-toggle="dropdown" aria-expanded="false"
					style="color: rgba(255, 255, 255, 0.9);" href="#">&nbsp;CxP</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item" role="presentation" th:href="@{/cxp/}">Ver
							CxP</a><a class="dropdown-item" role="presentation"
							href="cxp_abonos.html">Ver Pagos</a>
					</div></li>
				<li class="nav-item dropdown pv3"><a
					class="dropdown-toggle nav-link pv7 pv2 pv5 pv6 pv8"
					data-toggle="dropdown" aria-expanded="false"
					style="color: rgba(255, 255, 255, 0.9);" href="#">&nbsp;Reportes</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item pv7" role="presentation"
							href="articulo_reporte.html">Articulos</a><a
							class="dropdown-item pv7" role="presentation"
							href="inventario_reporte.html">Inventario</a><a
							class="dropdown-item pv7" role="presentation"
							href="inventario_valor_reporte.html">Valor Inventario</a> <a
							class="dropdown-item" role="presentation"
							href="compras_reporte.html">&nbsp;Compras</a><a
							class="dropdown-item pv4" role="presentation"
							href="factura_reporte.html">Ventas</a><a
							class="dropdown-item pv4" role="presentation"
							href="cliente_reporte.html">Clientes</a><a
							class="dropdown-item pv4" role="presentation"
							href="suplidor_reporte.html">Suplidores</a><a
							class="dropdown-item pv4" role="presentation"
							href="taller_reporte.html">Taller</a><a
							class="dropdown-item pv7 pv4" role="presentation"
							href="serial_reporte.html">Seriales</a><a
							class="dropdown-item pv7 pv4" role="presentation"
							href="ganancia_reporte.html">Ganancia</a><a
							class="dropdown-item pv4" role="presentation"
							href="gasto_reporte.html">Gastos</a><a class="dropdown-item pv4"
							role="presentation" href="ingreso_reporte.html">Ingresos</a>
					</div></li>
				<li class="nav-item dropdown pv3"><a
					class="dropdown-toggle nav-link pv7 pv2 pv5 pv6 pv4 pv8"
					data-toggle="dropdown" aria-expanded="false"
					style="color: rgba(255, 255, 255, 0.9);" href="#">&nbsp;Ajustes</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item" role="presentation" th:href="@{/usuarios/}">Usuarios</a><a
							class="dropdown-item" role="presentation" th:href="@{/almacenes/}">Tiendas</a><a
							class="dropdown-item" role="presentation" th:href="@{/comprobantes/}">Comprobante
							Grupos</a> <a class="dropdown-item" role="presentation"
							th:href="@{/comprobantesFiscales/}">Comprobante Fiscales</a>
							<a class="dropdown-item" role="presentation"
							th:href="@{/almacenes/piePagina/}">Pie de Pagina</a>
							<a class="dropdown-item" role="presentation"
							id="nuevo_codigo" href="#">Codigo Activacion</a>
					</div></li>
				<li class="nav-item dropdown pv3"><a
					class="dropdown-toggle nav-link pv7 pv2 pv5 pv6 pv4 pv3 pv1 pv8"
					data-toggle="dropdown" aria-expanded="false"
					style="color: rgba(255, 255, 255, 0.9);" href="#">&nbsp;Adm</a>
					<div class="dropdown-menu" role="menu"
						style="background-color: rgba(255, 255, 255, 0.9);">
						<a class="dropdown-item" role="presentation"
							th:href="@{/propietarios/}">Propietarios</a><a class="dropdown-item"
							role="presentation" th:href="@{/almacenes/admin}">Sucursales</a><a
							class="dropdown-item" role="presentation"
							 th:href="@{/usuarios/}">Usuarios</a>
					</div></li>
				<li class="nav-item" role="presentation"><a class="nav-link"
					id="cambio_password" th:href="@{/usuarios/pwd}"
					style="color: rgba(255, 255, 255, 0.9);">&nbsp;Pass</a></li>
				<li class="nav-item" role="presentation"><a class="nav-link"
					id="salir_menu" href="#" style="color: rgba(255, 255, 255, 0.9);"><i
						class="fa fa-external-link-square"></i>&nbsp;Salir</a></li>
			</ul>
			<p class="ml-auto navbar-text actions"></p>
		</div>
	</div>
</nav>
  	<!-- fin menu -->