body{
	background: url('../img/turntable.jpg') no-repeat center center;
	min-height:100%;
	height: 100vh;
	width: 100%;
	background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.celeste{
	 background: rgba(204,206,255,1);/* Old Browsers */
	 background: -moz-radial-gradient(center, ellipse cover, rgba(204,206,255,1) 0%, rgba(21,133,201,0.82) 91%, rgba(3,126,196,0.82) 100%); /* FF3.6+ */
	 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(204,206,255,1)), color-stop(91%, rgba(21,133,201,0.82)), color-stop(100%, rgba(3,126,196,0.82)));/* Chrome, Safari4+ */
	 background: -webkit-radial-gradient(center, ellipse cover, rgba(204,206,255,1) 0%, #b5996e 91%, rgba(3,126,196,0.82) 100%); /* Chrome10+,Safari5.1+ */
	 background: -o-radial-gradient(center, ellipse cover, rgba(204,206,255,1) 0%, rgba(21,133,201,0.82) 91%, rgba(3,126,196,0.82) 100%); /* Opera 11.10+ */
	 background: -ms-radial-gradient(center, ellipse cover, rgba(204,206,255,1) 0%, rgba(21,133,201,0.82) 91%, rgba(3,126,196,0.82) 100%); /* IE 10+ */
	 background: radial-gradient(ellipse at center, rgba(204,206,255,1) 0%, rgb(28 28 28 / 82%) 91%, #1f3e5f 100%);/* W3C */
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccceff', endColorstr='#037ec4', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
	 -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	 -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	 box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.celeste-minus{
	background-color: #17a2b8;
    border-color: #17a2b8;
}

.announcement-text{
	color:#ffff;
}

.announcement-heading{
	color:#ffff;
}

.all {
	background: rgba(204, 206, 255, 1); /* Old Browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(204, 206, 255, 1)
		0%, rgba(21, 133, 201, 0.82) 91%, rgba(3, 126, 196, 0.82) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, rgba(204, 206, 255, 1)),
		color-stop(91%, rgba(21, 133, 201, 0.82)),
		color-stop(100%, rgba(3, 126, 196, 0.82))); /* Chrome, Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(204, 206, 255, 1)
		0%, #b5996e 91%, rgba(3, 126, 196, 0.82) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(204, 206, 255, 1)
		0%, rgba(21, 133, 201, 0.82) 91%, rgba(3, 126, 196, 0.82) 100%);
	/* Opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(204, 206, 255, 1)
		0%, rgba(21, 133, 201, 0.82) 91%, rgba(3, 126, 196, 0.82) 100%);
	/* IE 10+ */
	background: radial-gradient(ellipse at center, rgba(204, 206, 255, 1) 0%,
		rgb(28 28 28/ 82%) 91%, #1f3e5f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccceff',
		endColorstr='#037ec4', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
	color: #ffffff;
}

.personalized>input:hover:active:link:visited:focus {
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: transparent;
	border: none;
	border-radius: 0px;
	border-bottom: solid 2px #fff;
	color: #fff;
}