<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sistema Celulares</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="64x64" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-dark-top-nav.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-dark-top-nav.css}">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/Minimal-tabs.css}">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
  </head>
  <body>
     <span th:insert="fragments/topMenu :: menu-principal"></span> 
    <div class="container text-white" style="margin-bottom: 127px;">
        <div class="row" id="contenedor_menu">
            <div class="col-md-6 col-lg-3 pv7 pv3 pv5 pv6" id="articulos">
                <div class="card celeste card-info" style="margin-top: 10px;">
                    <div class="card-header text-primary">
                        <div class="row" style="height: 60px;">
                            <div class="col-6"><img th:src="@{/img/modulos/articulos1.png}"></div>
                            <div class="col-6 text-right">
<!--                                 <p id="menu_articulo_total" class="announcement-heading"><strong>0</strong></p> -->
                                <p class="announcement-text"><strong>Articulos</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="icono_articulo" style="height: 0px;background-color: #17a2b8;">
                        <div class="row" style="margin-top: -15px;">
                            <div class="col-8 text-white">
                                <p>Inventario</p>
                            </div>
                            <div class="col text-right"><i class="fa fa-star fa-arrow-circle-right" style="font-size: 23px; cursor:pointer;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pv7 pv3 pv5 pv6" id="ventas">
                <div class="card celeste card-info" style="margin-top: 10px;">
                    <div class="card-header text-primary">
                        <div class="row" style="height: 60px;">
                            <div class="col-6"><img th:src="@{/img/modulos/ventas4.png}"></div>
                            <div class="col-6 text-right">
<!--                                 <p id="menu_articulo_total" class="announcement-heading"><strong>0</strong></p> -->
                                <p class="announcement-text"><strong>Ventas</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="icono_articulo" style="height: 0px;background-color: #17a2b8;">
                        <div class="row" style="margin-top: -15px;">
                            <div class="col-8 text-white">
                                <p>Ventas</p>
                            </div>
                            <div class="col text-right"><i class="fa fa-star fa-arrow-circle-right" style="font-size: 23px; cursor:pointer;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-6 col-lg-3 pv7 pv3 pv5 pv6" id="articulos">
                <div class="card celeste card-info" style="margin-top: 10px;">
                    <div class="card-header text-primary">
                        <div class="row" style="height: 60px;">
                            <div class="col-6"><img th:src="@{/img/modulos/clientes.png}"></div>
                            <div class="col-6 text-right">
<!--                                 <p id="menu_articulo_total" class="announcement-heading"><strong>0</strong></p> -->
                                <p class="announcement-text"><strong>Clientes</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="icono_cliente" style="height: 0px;background-color: #17a2b8;">
                        <div class="row" style="margin-top: -15px;">
                            <div class="col-8 text-white">
                                <p>Clientes</p>
                            </div>
                            <div class="col text-right"><i class="fa fa-star fa-arrow-circle-right" style="font-size: 23px; cursor:pointer;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pv7 pv3 pv5 pv6" id="articulos">
                <div class="card celeste card-info" style="margin-top: 10px;">
                    <div class="card-header text-primary">
                        <div class="row" style="height: 60px;">
                            <div class="col-6"><img th:src="@{/img/modulos/imei7.png}"></div>
                            <div class="col-6 text-right">
<!--                                 <p id="menu_articulo_total" class="announcement-heading"><strong>0</strong></p> -->
                                <p class="announcement-text"><strong>Seriales</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="icono_articulo" style="height: 0px;background-color: #17a2b8;">
                        <div class="row" style="margin-top: -15px;">
                            <div class="col-8 text-white">
                                <p>IMEI</p>
                            </div>
                            <div class="col text-right"><i class="fa fa-star fa-arrow-circle-right" style="font-size: 23px; cursor:pointer;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pv7 pv3 pv5 pv6" id="articulos">
                <div class="card celeste card-info" style="margin-top: 10px;">
                    <div class="card-header text-primary">
                        <div class="row" style="height: 60px;">
                            <div class="col-6"><img th:src="@{/img/modulos/telefono1.png}"></div>
                            <div class="col-6 text-right">
<!--                                 <p id="menu_articulo_total" class="announcement-heading"><strong>0</strong></p> -->
                                <p class="announcement-text"><strong>Taller</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="icono_articulo" style="height: 0px;background-color: #17a2b8;">
                        <div class="row" style="margin-top: -15px;">
                            <div class="col-8 text-white">
                                <p>Taller</p>
                            </div>
                            <div class="col text-right"><i id="icono_taller" class="fa fa-star fa-arrow-circle-right" style="font-size: 23px; cursor:pointer;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pv7 pv3 pv5 pv6" id="articulos">
                <div class="card celeste card-info" style="margin-top: 10px;">
                    <div class="card-header text-primary">
                        <div class="row" style="height: 60px;">
                            <div class="col-6"><img th:src="@{/img/modulos/monedas2.png}"></div>
                            <div class="col-6 text-right">
<!--                                 <p id="menu_articulo_total" class="announcement-heading"><strong>0</strong></p> -->
                                <p class="announcement-text"><strong>CXC</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="icono_articulo" style="height: 0px;background-color: #17a2b8;">
                        <div class="row" style="margin-top: -15px;">
                            <div class="col-8 text-white">
                                <p>Cta. x C</p>
                            </div>
                            <div class="col text-right"><i id="icono_cxc" class="fa fa-star fa-arrow-circle-right" style="font-size: 23px; cursor:pointer;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pv7 pv3 pv5 pv6" id="articulos">
                <div class="card celeste card-info" style="margin-top: 10px;">
                    <div class="card-header text-primary">
                        <div class="row" style="height: 60px;">
                            <div class="col-6"><img th:src="@{/img/modulos/calculator.png}"></div>
                            <div class="col-6 text-right">
<!--                                 <p id="menu_articulo_total" class="announcement-heading"><strong>0</strong></p> -->
                                <p class="announcement-text"><strong>Cuadre</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="icono_articulo" style="height: 0px;background-color: #17a2b8;">
                        <div class="row" style="margin-top: -15px;">
                            <div class="col-8 text-white">
                                <p>Cuadre</p>
                            </div>
                            <div class="col text-right"><i class="fa fa-star fa-arrow-circle-right" style="font-size: 23px; cursor:pointer;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pv7 pv3 pv5 pv6" id="articulos">
                <div class="card celeste card-info" style="margin-top: 10px;">
                    <div class="card-header text-primary">
                        <div class="row" style="height: 60px;">
                            <div class="col-6"><img th:src="@{/img/modulos/logout.png}"></div>
                            <div class="col-6 text-right">
<!--                                 <p id="menu_articulo_total" class="announcement-heading"><strong>0</strong></p> -->
                                <p class="announcement-text"><strong>Salir</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" id="salir_sistema" style="height: 0px;background-color: #17a2b8;">
                        <div class="row" style="margin-top: -15px;">
                            <div class="col-8 text-white">
                                <p>Salir</p>
                            </div>
                            <div class="col text-right"><i class="fa fa-star fa-arrow-circle-right" style="font-size: 23px; cursor:pointer;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <p></p> 
        <div class="card text-primary border rounded" style="background:rgba(255,255,255,0.5);">
            <div class="text-right card-body" style="margin-top: 0px;"><img th:src="@{/logos/{img} (img=*{usuario.almacen.imagen})}" id="logo_empresa" height="100px">
                <h1 class="text-right card-title" id="nombre_negocio" style="font-size: 16px;" th:text="${usuario.almacen.nombre}">Nombre del Negocio</h1>
                <h5 class="text-right text-muted card-subtitle mb-2" id="direccion_negocio" style="color:black; font-size: 14px;" th:text="${usuario.almacen.direccion}">Direccion</h5>
                <h5 class="text-right text-muted card-subtitle mb-2" id="telefono_negocio" style="font-size: 12px;" th:text="${usuario.almacen.telefono}">809-000-0000</h5>
                <h6 class="text-right card-subtitle mb-2" id="usuario_actual" style="font-size: 14px;" th:text="${usuario.username}">usuario</h6>
                <h6 class="text-righttext-danger card-subtitle mb-2" id="privilegio" style="font-size: 13px;" th:text="${usuario.privilegio.perfil}">Privilegio</h6>
                <h6 class="text-right text-danger card-subtitle mb-2" id="vencimiento_sistema" style="font-size: 12px;" th:text="'Vence : ' + ${#dates.format(usuario.almacen.vencimiento, 'dd-MM-yyyy')}">Vence</h6>
                <div class="row pv2 pv3 pv4 pv5 pv6 pv7 pv8">
                </div><a class="card-link" href="#"></a></div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <span th:insert="fragments/footer :: footer"></span>  
</body>
</html>