<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script th:src='@{/particles.js-master/particles.js}'></script>
<link th:href="@{/css/login.css}" rel="stylesheet">
<link href="https://pagecdn.io/lib/easyfonts/fonts.css" rel="stylesheet" /></head>
<style>
h5 {
    padding-right: 0px;
    text-align: center;
}
h6 {
	text-align: center;
	font-size: 1.25rem;
}
.footerLogin {
    margin-top: 33px;
}
</style>
<body>
<div th:if="${authority==1}">
	<span id="tempID" th:text="${code}"></span>
	<script type="text/javascript">
		 localStorage.codigo=document.getElementById("tempID").innerHTM;
	</script>
</div>
<script type="text/javascript">
 	if (localStorage.codigo !== undefined) {
		window.location = "/login";
	}
</script>
<div id="particles-js"></div>
<div th:if="${msg != null}" class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span th:text="${msg}"></span>
 </div>
        <!-- Alertas -->
	<div class="padre">
	   <div class="hijo">
	     <div class="headerLogin"></div>
	     	 <div class="row justify-content-center align-items-center" style="margin-left:auto; margin-right:auto"> 
                <div id="" class="">
                    <div id="" class="prueba">
                        <form class="form" th:action="@{/registro}" method="post">
                            <div class="contenedor">
                            	<img class="logo" alt="" src="img/telefono-inteligente.png">
                            </div>	
							<br>
                            <h5 class="text-white">C&oacute;digo de Autorizaci&oacute;n de Equipo</h5>
                            <div class="form-group">
                                <input type="text" placeholder="C&oacute;digo de Autorizaci&oacute;n" name="codigo" autocomplete="off" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Registrar este equipo">
                            </div>
							<h6 class="text-white">Si no posee este c&oacute;digo favor de <br>contactar al administrador de<br> su Tienda.</h6>
                        </form>
                    </div>
                </div>
            </div>
	     <div class="footerLogin"></div>
	   </div>
	</div>		    
<!-- <script th:src="@{/js/bootstrap.min.js}"></script>  -->
<!-- <script th:src="@{/js/jquery-3.3.1.min.js}"></script>   -->
</body>
</html>
<script>
/* ---- particles.js config ---- */

particlesJS("particles-js", {
  "particles": {
    "number": {
      "value": 200,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 140,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});

/* ---- stats.js config ---- */

var count_particles, update;
count_particles = document.querySelector('.js-count-particles');
update = function() {
	requestAnimationFrame(update);
};
requestAnimationFrame(update);
</script>