<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sistema Celulares</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="64x64" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sticky-dark-top-nav.css}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" th:href="@{/css/Minimal-tabs.css}">
 	<link href = "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel ="stylesheet"/>
 	<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
 	<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
 	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
 	<style>
	  	.table-primary, .table-primary>th, .table-primary>td {
	   		 background-color: #25396d;
	   		 color:#ffff;
		}
		.table-primary th, .table-primary td, .table-primary thead th, .table-primary tbody+tbody {
		    border-color: #25396d;
		}

  </style>
  <link rel="stylesheet" type="text/css" th:href="@{/css/swal.css}">
  </head>
  <body>
     <span th:insert="fragments/topMenu :: menu-principal"></span> 
     <br>
	<div class="container">
		<div class="card all">
			<div class="card-body" style="margin-top: 0px;">
			   <h4 class="card-header"><strong style="color: #fff;">Reporte de Compras por Categoria</strong><a th:href="@{/}" style="float: right;" class="btn btn-md btn-primary">Regresar</a></h4>              
				<br>

		<form method="post" th:action="@{/compras/reporteCompraXCategoria}" target="_blank">        
              <div class="row">
                 <div class="col-md-4"> 
                  <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control" name="idCategoria">
                    	<option value="0">Todas</option>
                    	<option th:each="categoria : ${categorias}"
                    			th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="nombre">Desde</label>
                    <input type="date" th:value="${#dates.format(dateAcct, 'yyyy-MM-dd')}" id="desde" class="form-control" name="desde" required="required">
                  </div>
                </div>
                 <div class="col-md-4"> 
                  <div class="form-group">
                    <label for="direccion">Hasta</label>
                    <input type="date" th:value="${#dates.format(dateAcct, 'yyyy-MM-dd')}" id="hasta" class="form-control" name="hasta" required="required">
                  </div>
                </div>
              </div>
                                                                            
              <button class="btn btn-primary" 
              id="btnGenerarReporte" type="submit" 
              style="margin-top: 13px;margin-bottom: 16px;"><i class="fa fa-print"></i>&nbsp;
               Generar Reporte</button> 
            </form>	
			</div>
			<a class="card-link" href="#"></a>
		</div>	
	</div>
	<script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<span th:if="${msg != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro Creado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg2 != null}" class="alert alert-success" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Muy bien!',
			  text: 'Registro Modificado',
			  icon: 'success',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<span th:if="${msg3 != null}" class="alert alert-warning" role="alert">
		<script type="text/javascript">
		Swal.fire({
			  title: 'Alerta!',
			  text: 'Almacen no encontrado, puede crear un almacen nuevo en el formulario',
			  icon: 'warning',
			  confirmButtonText: 'Cool'
			})
		</script>
	</span>
	<script type="text/javascript">
	   $("#btnGenerarReporte").click(function(){
		   if((new Date($("#hasta").val()).getTime() >= new Date($("#desde").val()).getTime())){
			   return true;
		   }else{
			   Swal.fire({
					  title: 'Alerta!',
					  text: 'La fecha desde no puede ser mayor a la fecha hasta',
					  icon: 'warning',
					  position: 'top',
					  confirmButtonText: 'Cool'
					})
			return false;
		   }
	   });
	</script>
	 <span th:insert="fragments/footer :: footer"></span>  
</body>
</html>